.m-r-l{
    margin-right: 117px;
}
.h1-m-b{
    margin-bottom: 20px;
}
.h2-m-b{
    margin-bottom: 15px;
}
.h2-m-b-l{
    margin-bottom: 30px;
}
.h3-m-b{
    margin-bottom: 22px;
}
.h3-m-b-s{
    margin-bottom: 13px;
}
.h4-m-b{
    margin-bottom: 17px;
}
.desc-m-b{
    margin-bottom: 54px;
}
.desc-m-b-s{
    margin-bottom: 13px;
}